@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --destructive: 0 71% 53%;
  --destructive-foreground: 210 40% 98%;

  --red-accent: #ff0040;
  --red-accent-opacity: #ff004049;
  --red-intense: #df0c52;
  --red-burdeo: #62162f;
  --accent-marker: #ebebeb;
  /* color-scheme: dark; */
}

* {
  scroll-behavior: smooth
}

@layer base {
  html{

    @apply bg-n-8;
  }
  body {
    @apply font-sans text-n-1 text-base;
    @apply bg-n-8;
    height: 100vh;
  }
}

h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

.rotate-45 {
  @apply rotate-[45deg]
}

.rotate-90 {
  @apply rotate-[90deg]
}

.rotate-135 {
  @apply rotate-[135deg]
}

.rotate-180 {
  @apply rotate-[180deg]
}

.rotate-225 {
  @apply rotate-[225deg]
}

.rotate-270 {
  @apply rotate-[270deg]
}

.rotate-315 {
  @apply rotate-[315deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-45 {
  @apply rotate-[-45deg]
}

.-rotate-90 {
  @apply rotate-[-90deg]
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply rotate-[-180deg]
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}

.transform-div {
  transform: translate(0, 0);
  scale: 1;
}

.effect{
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.effect:hover{
  transform: scale(1.05);
}

.gradient-text-hover{
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  font-weight: bolder;
}

.gradient-text-hover:hover span, .gradient-text-hover:hover{
  transform: scale(1.05);
}

.box{
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  background: linear-gradient(90deg, transparent 0%, #0a0a0a4f 30%, #0a0a0a80 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.none-important {
  display: none !important;
}

.flex-important{
  display: flex !important;
}

.noise-bg{
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .4;
  visibility: visible;
}

.conic{
  background: linear-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876) !important;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@media (max-width: 768px) {
  .sd\:mt-\[10rem\] {
    margin-top: 10rem;
  }
}

@media (max-width: 1024px) {
  .sd\:mt {
    margin-top: 15rem;
  }
}

@media (max-width: 1280px) {
  .sd\:width {
    width: 60rem !important;
  }
}

@media (max-width: 1024px) {
  .sd\:width {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .sd\:state {
    display: none;
  }
}



@media (max-width: 768px) {
  .sd\:scale_card {
    scale: 0.8 !important;
    padding: 0.5rem !important;
  }
}

@media (max-width: 1024px) {
  .sd\:width_card {
    width: 15rem !important;
    scale: 1.0;
  }
}


.test span{
  position: absolute;
  top: 0;

}


.opacity_full img{
  opacity: 1 !important;
}

.sidebar-maskimage {
  --scroll-shadow-size: 40px;

  -webkit-mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
  mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
}

/* display none for scrollbar */
::-webkit-scrollbar {
  display: none;
}


.shadow-page{
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* circle radiant backgroun left to right */
  background: linear-gradient(90deg, #0a0a0a80 0%, transparent 100%);
}

.sidebar-maskimage-left-right{
  --scroll-shadow-size: 40px;

  -webkit-mask-image: linear-gradient(to right, #000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
  mask-image: linear-gradient(to right, #000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
}

.sidebar-maskimage-only-bottom {
  --scroll-shadow-size: 40px;

  -webkit-mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
  mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
}

.gradient-circle-red-right {
  background: conic-gradient(from 225deg, #ff0040, #FFFFFF, #ff0040, transparent, #ff0040);
}




.contain img{
  object-fit: contain !important;
}


.cursor-dot {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
  font-family: NeueMontreal-Medium;
  background: #fff;
  transform: translateZ(0);
  transition: width .25s ease-in-out, height .25s ease-in-out, scale .25s ease-in-out;
}

.cursor-text {
  /* position: absolute; */
  font-size: 2px !important;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 900;
  z-index: 99999999999999999999999999999;
}


.transition-property{
  transition: scale cubic-bezier(0.075, 0.82, 0.165, 1) 2s, background cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s, box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.test{

  /* background-image: url('/Mile.png'); */
  /* background-color: #cccccc; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Mile.png");
  background-size: cover;
}


.globe{
  width: 1000px; height: 1000px; cursor: grab; contain: size layout paint; opacity: 1; transition: opacity 1s ease 0s;
}

.tab-theme .bg-default-100{
  background: rgba(255,255,255,0.1);
}

#starfield{
  --scroll-shadow-size: 40px;

  -webkit-mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
  mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
}